@charset "utf-8";
/* すべて */
* {
    margin: 0;
    padding: 0;
}

a {
    /*リンクされた文字*/
    color: #00ffff;
    font-style: normal;
    text-decoration: underline;
}

a:link {
    /*未訪問のリンク*/
    color: #00ccff;
    font-style: normal;
    text-decoration: underline;
}

a:visited {
    /*訪問後のリンク*/
    color: #934C7B;
    text-decoration: underline;
}

a:hover {
    /*マウスをのせたとき*/
    color: #ff0000;
    font-style: normal;
    text-decoration: underline;
}

a:active {
    /*クリック中*/
    text-decoration: none;
}

body {
    line-heigt: 1.5;
    background-color: #111111;
    color: #FFFFFF;
    margin: 20px;
    padding: 0 5px;
    min-height: 22px;
}

div.main {
    line-height: 2.0;
}

/* kingsoft */
#kingsoft {
    h1, h2 {
        display: none;
    }

    li {
        margin: 0 0 0 10px;
        padding: 5px 0 5px 10px;
    }

    .cixin {
        list-style: none;

    }
}
/* 英辞郎 */
#eijiro{

}
/* Excite */
#Excite{

}
/* Google翻訳*/
#googleTranslator{

}